@import url('https://fonts.googleapis.com/css?family=Barlow');

.git-pic, .linked-pic{
  width: 10%;
  margin: auto;
}
.gmail1-pic{
  width: 12%;
  margin: auto;

}
.flex{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  max-width: 100%;
  justify-content: center;
}
.git{
   color: black;
}
.info{
  font-family: 'Barlow';
}
.imgs{
margin-top: 150px;
}
/*img{
  max-width: 100%;
}*/
