ul, li{
  display: inline;
  flex-direction: row;
  justify-content: center;
  font-weight: 900;
}
.footer{
  display: flex;
  justify-content:space-between;
  justify-content: center;
  overflow: auto;
  position: fixed;
  bottom: 0;
}
@media (max-width: 550px) {
  .footer{
    font-size: 10px;
  }
}
