
@import url('https://fonts.googleapis.com/css?family=Barlow');


body {
font-family: 'Barlow';

  color: #333;
}

/*h1 a {
  color: #333;
  text-decoration: none;
  border-bottom: 0;
}*/

a {
  color: dodgerblue;
  text-decoration: none;
  font-family: 'Barlow';

}

a:hover {
  color: #DDE0BD;
}
p{
  color: black;
  font-family: 'Barlow';
}

img {
  /*display: block;*/
  width: 100%;
}

section {
  margin: 3rem 3rem;
}


h3 {
  font-size: 1.5rem;
  margin: 2rem 0 0 0;
  line-height: 0.5;
  font-family: 'Barlow';

}


.responsive ul {
  /*display: grid;*/
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /*grid-gap: 1rem;*/

}
ul {
  list-style: none;
  margin: 0rem;
  padding: 1rem;
}
.grid-container{

}
li {
  background-color:#FFF;
  padding: 1rem;
  width: 100%;
  /*display: flex;*/
}
.grow
{
  border: 5px solid #FFF;
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,.3);
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.3);
  box-shadow: 0 1px 4px rgba(0,0,0,.3);*/
  /*display: flex;*/
  /*flex-direction: column;*/
  width: 30%;
}


@media (max-width: 550px) {
  h1, h2 {
    font-size: 2rem;
  }
}
@media (max-width: 650px){
  .grow{
    width: 80%;
  }
}
/* Responsive layout - makes a two column-layout instead of four columns */

@media (max-width: 900px) {
    .column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}
/*.row,
.row > .column {
    padding: 8px;
}*/

/* Create four equal columns that floats next to each other */
/*.column {
    float: left;
    width: 25%;
}*/

/* Clear floats after rows */
/*.row:after {
    content: "";
    display: table;
    clear: both;
}*/

/* Content */
/*.content {
    background-color: black;
    padding: 10px;
}*/
