.flex-b{
  display:flex;
  justify-content: center;
}

.resumecont{
  display:flex;
  width: 35%;
  /*position: center;
  display: block;*/
  /*margin: auto;
  margin-top: 20px;
  margin-right: 10px;*/
  justify-content: space-around;
}
/*.link{
  float: right;
}*/
.click{
  display: flex;
 align-self: flex-end;
 flex-wrap: wrap;
 margin-right: 70px;

}
@media (max-width: 670px) {
  .resumecont{
    min-width:  100%;
  }
}
