.flex-b{
  display:flex;
  justify-content: center;
}

.resumecont{
  display:flex;
  width: 35%;

  justify-content: space-around;
}
/*.click{
  display: flex;
 align-self: flex-end;
 flex-wrap: wrap;
 margin-right: 70px;

}*/
@media (max-width: 670px) {
  .resumecont{
    min-width:  100%;
  }
}
