@import url('https://fonts.googleapis.com/css?family=Barlow');
html, body{
  height: 100%;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.response{
  flex: 1 0 auto;
  margin-top: auto;
}
body {
    background-color:white;
    /*background: url('./assets/img/west-tex.png');
    background-size: cover;*/
}
.dev{
  margin-right: 20px;
}
h2{
  font-family: 'Barlow', sans-serif;
  font-size: 84px;
  color: white;
  margin-bottom: 10px;
  margin-top: 5px;
}
.dev{
  margin-bottom: 40px;
  font-family: 'Barlow', sans-serif;
  color:white;
  display: inline-block;
  font-size: 180%;
}
nav{
padding: 0;
list-style: none;
justify-content: center;
margin: 20px 0 60px 0;
font-family: 'Barlow';
}
.homeimg{
  background: url('./assets/img/polariod-flowers.jpg');

  height: 60%;
  /* Position and center the image to scale nicely on all screens */
  background-position:  left;
  background-size: auto;
  width: 100%;
  zoom: 93%;
}
nav.tabs {
  max-width: 95%;
}
nav.tabs a {
  display: inline-block;
  color: white;
  padding: 3px 60px;
  text-decoration: none;
}
nav.tabs a.active {
  color: #DDE0BD;
  text-decoration: none;
  border-radius: 5px;
}
.link{
 transition: 0.9s;
 color: #ffffff;
 font-size: 30px;
 text-decoration: none;
 padding: 0 10px;
 margin: 0 10px;
}
.link:hover {
 /*background-color: #FDFFFC;*/
 color: #DDE0BD;
 padding: 24px 10px;
}
.response ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;

}
@media (min-width: 550px) {
  .tabs{
    font-size: 2rem;
  }
}
