@import url('https://fonts.googleapis.com/css?family=Barlow');

.App {
  text-align: center;
}
h2{
  font-family: 'Barlow', sans-serif;
  font-size: 84px;
  color: black;
  margin-bottom: 10px;
  margin-top: 5px;
}
p{
  margin-bottom: 40px;
  font-family: 'Barlow', sans-serif;
  color:black;
}
nav{
padding: 0;
display: flex;
list-style: none;
justify-content: center;
margin: 20px 0 60px 0;
font-family: 'Barlow';
}
/*.homeimg{
    background: url('./assets/img/westgrass.jpg');
  background-size: 100px;
  height: 60%;*/
  /* Position and center the image to scale nicely on all screens */
  /*background-position: center;
  background-repeat: right;
  background-size: cover;
  position: relative;


}*/


nav.tabs {
  max-width: 95%;
}
nav.tabs a {
  display: inline-block;
  color: black;
  padding: 3px 60px;
  margin-bottom: 0;
  text-decoration: none;
}
nav.tabs a.active {
  color: #DDE0BD;
  text-decoration: none;
  border-radius: 5px;
}
.link{
 transition: 0.9s;
 color: #ffffff;
 font-size: 30px;
 text-decoration: none;
 padding: 0 10px;
 margin: 0 10px;
}
.link:hover {
 /*background-color: #FDFFFC;*/
 color: #DDE0BD;
 padding: 24px 10px;
}
